<div class="main">
  <div class="container">
    <div class="headerParagraph">CNN.com - RSS Channel - App International Edition
      <div class="yellow-container"></div>
    </div>
    <div class="row">
      <div *ngFor="let item of showedRssData; let i=index;" class="single-element col-xs-12 col-sm-12  animated zoomIn" [ngClass]="this.doublicatedIndexChecker(i) ? 'col-md-8': 'col-md-4'">
        <img [src]=item.enclosure.link [alt]=item.title class="centered-block" />
        <p class="title carousel-caption">{{item.title}}</p>
        <p class="date carousel-caption">{{item.pubDate| date : "dd/mm/yyyy"}}</p>
      </div>
    </div>
  </div>
  <div class="footer" *ngIf="this.showedRssData.length !== 0">
    <button class="view-more-button btn btn-default" (click)="onViewMore()">VIEW MORE</button>
  </div>
</div>